server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
data:
  database: #根目录新建..env,用.env文件中的环境变量
    driver: mysql
    source: "${MYSQL_SOURCE}"
  redis:
    host: "${HOST}"
    username: ""
    password: "${REDIS_PASSWORD}"
    port: 6379
    db: 0
    read_timeout: 0.2s
    write_timeout: 0.2s
